.ct_inner {
  display: flex;
  align-items: center;
  padding: 20px;
  min-height: 50px;
  background-color: #efefef;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.ct {
}

.img_wrapper {
  display: inline-block;
  position: relative;
  padding: 10px;
  height: 150px;
  img {
    height: 100%;
  }
  .X {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
    path {
      fill: #dd2b05 !important;
    }
  }
}
